@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #DAFDBA, #9AEBA3);
}

main {
border-radius: 10px;
background-color: white;
box-shadow: 5px 5px 15px #012030b6;
width: 600px;
padding: 10px;
margin: auto;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 2px #0120309f;
    color: #13678A;
}

h2 {
    color: #012030;
}

p {
    text-align: justify;
}

